
<%- include('include/_header') %>

<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
        background-image: url('https://mdbootstrap.com/img/new/textures/full/252.jpg');
        height: 300px;
        "></div>
    <!-- Background image -->

    <div class="container-fluid container-sm">
        <div class="col d-flex justify-content-center">
            <div class="card mx-4 mx-md-5 shadow-5-strong"
                 style="
             margin-top: -200px;
             background: hsla(0, 0%, 100%, 0.8);
             backdrop-filter: blur(30px);">

                <div class="col d-flex justify-content-center">
                    <div class="card-body py-5 px-md-5">
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-12">
                                <img src=" <%= "/img/avatars/" + user.id %> " class="rounded-circle" style="width: 150px;"
                                     alt="Avatar" />
                                <a href=" <%= "/userpage/update-user/upload-image/" + user.id %> "><button class="btn btn-dark btn-lg btn-rounded px-5" type="button">Change Avatar</button></a>
                                <hr>

                                <form action=" <%= "/users/update-user/" + user.id + "?_method=PATCH"%> " method="POST" id="update_user">

                                    <%- include('include/_editForm'); %>

                                    <button class="btn btn-dark btn-lg btn-rounded px-5 mr-3" type="submit">SUBMIT</button>
                                    <a href="/userpage"><button class="btn btn-dark btn-lg btn-rounded px-5" type="button">BACK</button></a>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>

<%- include('include/_footer') %>