
<%- include('include/_header') %>

<div class="jumbotron">
    <div class="container text-center">

        <h1>WELCOME</h1>
        <h3>--- USER INFORMATION ---</h3>

    </div>

    <div class="Container container-sm text-center">

        <a href=" <%= "/users/update-user/" + user.id%> "><button class="btn btn-primary">Edit</button></a>
        <a href="/users"><button class="btn btn-primary">BACK</button></a>

    </div>
</div>

<div class="Container container-sm">

    <ol>
        <li>Name: <%= user.firstName + " " + user.lastName %></li>
        <li>Email: <%= user.email %></li>
        <li>Gender: <%= user.gender %></li>
        <li>Status: <%= user.status %></li>
    </ol>

</div>

<%- include('include/_footer') %>