
<%- include('include/_header') %>

<%- include('include/_usersPgNavbar') %>

<div class="Container container-sm text-center">

    <% if (errorMessage) {%>
        <div class="error-message"><%= errorMessage %></div>
    <% } %>

    <%- include('include/_usersTable') %>

</div>

<%- include('include/_footer') %>
