
<div class="row">
    <div class="col-md-6 mb-4">
        <div class="form-outline">
            <input type="text" id="firstName" class="form-control" name="firstName" value="<%= user.firstName %>" required>
            <label for="firstName" class="form-label">First Name</label>
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="form-outline">
            <input type="text" id="lastName" class="form-control" name="lastName" value="<%= user.lastName %>" required>
            <label for="lastName" class="form-label">Last Name</label>
        </div>
    </div>
</div>

<div class="form-outline mb-4">
    <input id="typeEmail" type="email" class="form-control form-control-md" name="email" value="<%= user.email %>" required>
    <label for="typeEmail" class="form-label">Email</label>
</div>

<div class="form-outline mb-4">
    <input id="typePassword" type="text" class="form-control form-control-md" name="password" value="">
    <label for="typePassword" class="form-label">Password</label>
</div>

<div class="form-group text-left">
    <div class="form-check form-check-inline">
        <h5><label for="status" class="text-uppercase form-check-label">Gender</label><br></h5>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" value="Male" name="gender" id="radio1" <%= user.gender === 'Male' ? 'checked' : ''%>>
        <label class="form-check-label" for="radio1">
            Male
        </label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" value="Female" name="gender" id="radio2" <%= user.gender === 'Female' ? 'checked' : ''%>>
        <label class="form-check-label" for="radio2">
            Female
        </label>
    </div>

</div>

<div class="form-group text-left">
    <div class="form-check form-check-inline">
        <h5><label for="status" class="text-uppercase form-check-label">Status</label><br></h5>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" value="Employed" name="status" id="radio3" <%= user.status === 'Employed' ? 'checked' : ''%>>
        <label class="form-check-label" for="radio3">
            Employed
        </label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" value="Unemployed" name="status" id="radio4" <%= user.status === 'Unemployed' ? 'checked' : ''%>>
        <label class="form-check-label" for="radio4">
            Unemployed
        </label>
    </div>

</div>

<div class="form-group text-left">
    <div class="form-check form-check-inline">
        <h5><label for="status" class="text-uppercase form-check-label">Role</label><br></h5>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" value="admin" name="role" id="radio5" <%= user.role === 'admin' ? 'checked' : ''%>>
        <label class="form-check-label" for="radio5">
            Admin
        </label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" value="user" name="role" id="radio6" <%= user.role === 'user' ? 'checked' : ''%>>
        <label class="form-check-label" for="radio6">
            User
        </label>
    </div>

</div>

<label hidden="hidden">
    <input hidden="hidden" name="emailVerified" value="false">
    <input hidden="hidden" name="checkFalse" value="false">
</label>

