
<select name="assignedID" class="form-select" aria-label="Default select example">

    <option name="assignedID" value="<%= user.id %>"><%= user.firstName + " " + user.lastName %></option>
    <% for (var i = 0; i < users.length; i++) { %>
        <option <%= user.role === 'admin' ? '' : 'hidden' %>
                <%= users[i].id === user.id ? 'selected' : '' %>
                name="assignedID"
                value="<%= users[i].id %>">
            <%= users[i].firstName + " " + users[i].lastName %>
        </option>
    <% } %>

</select>
