<table class="table table-sm table-bordered">

    <thead class="thead-dark">
    <tr>
        <th>#</th>
        <th style="width:20%">NAME/USERS</th>
        <th style="width:20%">EMAIL</th>
        <th style="width:10%">GENDER</th>
        <th style="width:20%">STATUS</th>
        <th style="width:30%">ACTION</th>
    </tr>
    </thead>

    <tbody>

    <% for (var i = 0; i < users.length; i++) { %>

    <tr>
        <td><%= i + 1%></td>
        <td><%= users[i].name %></td>
        <td><%= users[i].email %></td>
        <td><%= users[i].gender %></td>
        <td><%= users[i].status %></td>
        <td>
            <a href=" <%= "/users/view-user/" + users[i].id %> "><button type="submit" id="viewBtn" class="btn btn-primary mr-1">View</button></a>
            <a href=" <%= "/users/update-user/" + users[i].id %> "><button type="submit" id="editBtn" class="btn btn-primary btn-dark mr-1">Edit</button></a>
            <a href=" <%= "/users/delete-user/" + users[i].id %> "><button type="submit" id="deleteBtn" class="btn btn-primary btn-danger">Delete</button></a>
        </td>
    </tr>

    <% } %>

    </tbody>

</table>